<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    <h1>Restaurants serving <span th:text="${selectedTypeOfFood}"></span></h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.name}"></td>
                <td th:text="${restaurant.address}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>