<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>RSVP Update Form</title>
</head>
<body>
    <h3 class="text-center mt-5">RSVP UPDATE FORM</h3>
    <div class="container">
        <form th:action="@{/rsvps/update}" method="post" th:object="${rsvps}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" th:field="*{fullName}"
                    placeholder="Enter name" required>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                    data-th-errorclass="error"></div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email" th:field="*{email}"
                    placeholder="Enter email address" required>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                    data-th-errorclass="error"></div>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input class="form-control" type="number" id="phone" th:field="*{phone}"
                    placeholder="Enter phone number" required>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                    data-th-errorclass="error"></div>
            </div>
            <div class="form-group">
                <label for="date">Confirmation Date:</label>
                <input class="form-control" type="date" id="date" th:field="*{confirmationDate}"
                    placeholder="Select confirmation date" required>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('confirmationDate')}"
                    th:errors="*{confirmationDate}" data-th-errorclass="error"></div>
            </div>
            <div class="form-group">
                <label for="phone">Comments:</label>
                <textarea class="form-control" id="message" rows="3" th:field="*{comments}"></textarea>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"
                    data-th-errorclass="error"></div>
            </div>
            <div class="form-group d-none">
                <label for="id">ID:</label>
                <input class="form-control" type="number" id="id" th:field="*{id}"
                    placeholder="Your ID">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>