<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <title>RSVP</title>
</head>
<body>
    
    <div class="container">
        <h3 class="text-center">RSVP FORM</h3>
        <form th:href="@{/api/rsvp}" method="post" th:object="${rsvp}">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control form-control-lg" type="name" id="name" th:field="*{fullName}"
                placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control form-control-lg" type="email" id="email" th:field="*{email}"
                placeholder="Enter email address">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input class="form-control form-control-lg" type="phone" id="phone" th:field="*{phone}"
                placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label for="date">Confirmation Date</label>
                <input class="form-control form-control-lg" type="date" id="date" th:field="*{confirmationDate}"
                placeholder="Select confirmation date">
            </div>
            <div class="form-group">
                <label for="phone">Comments</label>
                <textarea class="form-control" id="message" rows="3" th:field="*{comments}"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>