<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Order List</title>
</head>

<body>

    <div class="container">
        <h3 class="text-center mt-5">Order List</h3>
        <table border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Shipping Address</th>
                    <th>Notes</th>
                    <th>Tax</th>
                    <th>Order Details</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orders : ${order}">
                    <td th:text="${orders.id}"></td>
                    <td th:text="${orders.customerName}"></td>
                    <td th:text="${orders.shipAddress}"></td>
                    <td th:text="${orders.notes}"></td>
                    <td th:text="${orders.tax}"></td>
                    <td>
                        <table>
                            <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Quantity</th>
                            </tr>
                            <tr th:each="orderDetail : ${orders.orderDetails}">
                                <td th:text="${orderDetail.product}"></td>
                                <td th:text="${orderDetail.unitPrice}"></td>
                                <td th:text="${orderDetail.discount}"></td>
                                <td th:text="${orderDetail.quantity}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>